*.class
*.log
### https://raw.github.com/github/gitignore/f1eba3434761ebb9630fb0048500552f3405da03/PlayFramework.gitignore

# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache


