@(message: String)

@main("Welcome to Play") {

  <div class="flequiz">

    <div class="progress">
      <div class="progress-bar progress-bar-orange"></div>
    </div>

    <p class="text-center">○／○</p>

    <p>Q: Webサイトやアプリ（画面の上から下に読み進めていくデザイン）のコンテンツとコンテンツの間に表示される体裁の広告のことを何という？</p>


    <a href="#fakelink" class="btn btn-block btn-flequiz"><div class="text-left"><div class="flequiz-number">1.</div> インフィード広告</div></a>
    <a href="#fakelink" class="btn btn-block btn-flequiz"><div class="text-left"><div class="flequiz-number">2.</div> インストリーム広告</div></a>
    <a href="#fakelink" class="btn btn-block btn-flequiz"><div class="text-left"><div class="flequiz-number">3.</div> インバナー広告</div></a>
    <a href="#fakelink" class="btn btn-block btn-flequiz"><div class="text-left"><div class="flequiz-number">4.</div> インリード広告</div></a>

  </div>

}
